<% content_for :title, "Blog" %>

<h5 id="top-link"><%= link_to "New blog", new_blog_path %></h5>
<div id="content">
	<ul>
		<% @blogs.each do |blog| %>
		<li>
			<h3><%= blog.title %></h3>
			<p><%= blog.content %></p>
			<h5><%= blog.author.name %></h5>
			<% end %>
		</li>
	</ul>
</div>