<% content_for :title, @user.name %>

<h5 id="return-link"><%= link_to "Return to Users Index", users_path(@users) %></h5>
<div id="content">
	<%= @user.name %>
	<%= @user.email %>
	<%= @user.twitter %>
</div>