#content {
	margin: 20px auto auto;
	padding: 10px;
	max-width: 60%;
	min-width: 500px;
	border: 1px solid black;
}

h1, h2, h3, h4, h5, h1 > a, h2 > a, h3 > a, h4 > a, h5 > a {
	margin: 10px;
	text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover {
	text-decoration: underline;
}